{{ form_start(form) }}
    <div class="row g-3">
        <div class="col-md-7">
            {{ form_row(form.nom) }}
        </div>
        <div class="col-md-5">
            {{ form_row(form.type) }}
        </div>
    </div>
    <div class="d-flex gap-2 mt-3">
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
        <a href="{{ path('app_team_index') }}" class="btn btn-outline-light">Annuler</a>
    </div>
{{ form_end(form) }}
